<footer class="footer">
    <div class="copyright">
        <span class="copyright__icon">&copy;</span>
        <p class="copyright__text">All Rights reserved to sole owner - <a href="https://www.linkedin.com/in/anuroop-pamarthi-b4a2b1214/">Anuroop Pamarthi</a></p>
    </div>
</footer>