<header class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a href="/" class="navbar__link">Home</a>
        </li>
        <li class="navbar__item">
            <a href="/java_installation" class="navbar__link">Java Installation</a>
        </li>
        <li class="navbar__item">
            <a href="/python_installation" class="navbar__link">Python Installation</a>
        </li>
        <li class="navbar__item">
            <a href="/testng_framework" class="navbar__link">Selenium Java | TestNG</a>
        </li>
        <li class="navbar__item">
            <a href="/pytest_framework" class="navbar__link">Selnium Python | Pytest</a>
        </li>
    </ul>
</header>