<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⚠ Under Construction</title>
    <style>
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            font-size: 62.5%;
        }

        body {
            font-family: sans-serif;
            height: 100vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6.4rem;
        }

        h1 {
            font-size: 4.8rem;
            text-transform: uppercase;
            transform: skewX(345deg) skewY(-5deg);
            background-color: #fcc419;
            color: #000;
            padding: 1rem;
            box-shadow: 1rem 1rem 2rem 0rem #333;
        }

        p {
            font-size: 1.8rem;
        }

        a {
            font-size: 1.6rem;
            background-color: #fcc419;
            color: #fff;
            display: inline-block;
            padding: .8rem 1.6rem;
            border-radius: 5rem;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Page is Under Construction</h1>
    <p>⚠ The page is not ready yet. Please come back later.</p>
    <a href="/">Navigate to Home</a>
</html>